* {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}

.background_image {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("./images/background.jpg");
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  color: white;
  font-size: 5rem;
  text-align: center;
}

.button_links {
  display: flex;

}

button {
  font-size: 1rem;
  margin: 1.5rem;
  color: #f8f9fa;
  border-color: #f8f9fa;
  background-color: transparent;
  border-radius: .25rem;
  padding: .5rem;
}

button:hover {
  background-color: white;
  color: black;
}